table{
    margin:auto;
    padding:10px;
    border-collapse:collapse;
}
td,th{
    padding:5px;
    border-width:1px;
    border-style:solid;
}
#table{
    width:100%;
    margin-bottom:30px;
}
#main{
    border-width:1px;
    border-style:solid;
}